<div class='container'>
  <h1> Create a new tweet </h1>
  <%= flash[:message] %>
  <%= form_for @tweet do |f| %>
    <div class="form-group">
      <%= f.label :content, 'Write your tweet here' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>